
@{
    ViewBag.Title = "Bank Mobile";
}

<h2>Bank Mobile</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Personal Information</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/BankMobilePersonal">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Accounts</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/BankMobileAccount">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Action Panel</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/BankMobileAction">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Nothing</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/BankMobile">Go &raquo;</a></p>
    </div>
</div>
