<style>
    .modal {
        width: 100%;
        left: 0;
        background-color: transparent;
    }

    .modal-dialog{
        left: 0;
    }

    .modal-body {
        display: inline-block;
        background-color: #FFF;
    }

    .modal img {
        min-width: none !important;
    }
</style>

<!-- The actual modal template, just a bit o bootstrap -->
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('ok')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Purchase confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Congratulations :D</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

