@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hackathon Site</h1>
    <p class="lead">Demo for hackathon.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Bank Web</h2>
        <p>Online transactional system.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bank Mobile</h2>
        <p>Mobile banking system.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Figo</h2>
        <p>Overriden Figo services with user interface.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shop</h2>
        <p>Virtual shop.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>