@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Figo</h1>
    <p class="lead">Figo application that override real Figo services, adds its own services and its own user interface.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Users</h2>
        <p>List and details of users.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Transactions</h2>
        <p>Transactions made by users.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Partners</h2>
        <p>List and details of partners (shops).</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Institutions</h2>
        <p>List and details of financial institutions (banks).</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>