@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mobile Banking</h1>
    <p class="lead">This site represents Mobile Banking application (mock) of the Bank.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Personal Information</h2>
        <p>
            Here you can see and update your personal information, i.e. your first and last name, address, phone number, etc.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>List of you active accounts with its transaction history.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Action Panel</h2>
        <p>Here is a mock screen of mobile screens for demo purposes.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>