@using Hackathon.Repository;
@using Hackathon.Repository.Models.BankWeb;
@{
    ViewBag.Title = "Accounts";
}

<h1>Bank Web</h1>
<p>
    <a href="~/BankWeb/Personal" class="btn btn-default">Personal information</a>
    <a href="~/BankWeb/Logout" class="btn btn-default">Logout</a>
</p>

<h2>Your accounts</h2>

<table class="table">
    <tr>
        <th>NRB</th>
        <th>Name</th>
        <th>Balance</th>
        <th></th>
    </tr>
    @{
        foreach (var acc in BankWebRepository.Instance.LoggedUser.Accounts)
        {
            <tr>
                <td>@acc.Nrb</td>
                <td>@acc.Name</td>
                <td>@acc.Balance</td>
                <td><a href="~/BankWeb/AccountHistory/@acc.Nrb" class="btn btn-sm btn-default">History</a></td>
            </tr>
        }
    }
</table>
