
@{
    ViewBag.Title = "Login";
}

<h1>Bank Web</h1>
<h2>Login to the transactional system.</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <div class="form-group">
            <label for="login" class="control-label col-md-2">Login:</label>
            <div class="col-md-10">
                <input name="login" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-md-2">Password:</label>
            <div class="col-md-10">
                <input type="password" name="password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}