<br />
<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">
        <p>{{choosedBank}}</p>
        <br>
        <br>
        <div data-ng-repeat="bank in banks">
            <a href="#" ng-click="alert($index)">
                <div class="col-md-2" style="height: 70px;  margin: 10px; border: 1px solid rgba(128, 128, 128, 0.29)">
                    <img style="margin-top: 10px; margin-left:auto; width: 76px;" src="data/images/banks/{{bank.BankId}}.jpg">
                    <!--<button type="button" class="btn btn-sm btn-success" ng-click="chooseBank($index)">{{ bank.BankName }}</button>-->
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
</div>
