<br />
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <p class="h3 text-center">Please select your Bank</p>
        <br>
        <br>
        <div data-ng-repeat="bank in banks">
            <a href="{{bank.AuthUrl}}">
                <div class="col-md-2 bankbox">
                    <div class="content">
                        <img src="data/images/banks/{{bank.BankId}}.jpg">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
