<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Log as Bank</h1>
        </div>
        <h2 class="text-center">22-23.09.2016 hackaton project</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div data-ng-repeat="product in products" class="col-md-3" style="margin: 5px; border:1px solid rgba(128, 128, 128, 0.26)">
            <br>
            <span>
                {{ product.Id }}
            </span>
            <span>{{ product.Title }}</span>
            <img style="width: 100%" src="data/images/products/{{product.Id}}.jpg">
            <div style="white-space: nowrap;width: 20em;overflow: hidden;text-overflow: ellipsis;">{{ product.Description }}</div>
            <style>
                .price {
                    margin: 1px auto;
                    text-align: center;
                }
            </style>

            <div class="price">Price: ${{ product.Price }} <button type="button" class="btn btn-sm btn-success" ng-click="buyStock($index)">Add to basket</button></div>
            <div class="price">Price: ${{ product.Price }} <button type="button" class="btn btn-sm btn-success" ng-click="buyStock($index)">Buy with mBank</button></div>
            <div class="price">
                Price: ${{ product.Price }} <button type="button" class="btn btn-sm btn-success" ng-click="buyStock($index)">Buy with BnpParibas</button></divclass="price">
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
