<form class="form-login" role="form">
    
    <br><br>
    <button class="btn btn-lg btn-facebook btn-block" data-ng-click="loginAsBank()">Login as your Bank</button>
    <h5 class="form-login-heading text-right">Powered by <img src="../../Content/figo_logo.png" width="30" hight="40" /></h5>
    <br>
    <h4 class="form-login-heading">Shop login</h4>

    <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus value="login">
    <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
    <button class="btn btn-md btn-info btn-dropbox" type="submit" data-ng-click="login()">Login</button>
    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>

</form>