<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-10">
        <div data-ng-repeat="product in products" class="col-md-3" style="margin: 5px; border:1px solid rgba(128, 128, 128, 0.26); padding-bottom: 10px">
            <br>
            <span style="display:none">
                {{ product.Id }}
            </span>
            <span style="font-size:12pt">{{ product.Title }}</span>
            <img style="width: 100%" src="data/images/products/{{product.Id}}.jpg">
            <div style="white-space: nowrap;width: 20em;overflow: hidden;text-overflow: ellipsis;"></div>
            <style>
                .price {
                    margin: 1px auto;
                    text-align: center;
                }
            </style>

            <div class="price">
                Price: {{ getRandomArbitrary(500, 1500) }} €
                <img src="/content/basket.png" width="50px" ng-click="buyStock($index)"/>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>

</div>
