
<div class="row">

    <div class="col-md-offset-2 col-md-8 h2">
        Shopping Cart
    </div>

    <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ products[0].Title }}
                    </td>
                    <td>
                        $ {{ products[0].Price }}
                    </td>
                </tr>
            </tbody>



        </table>
    </div>

   
</div>
