
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/site.css" rel="stylesheet" />
<link href="~/Content/css/loading-bar.css" rel="stylesheet" />
<link href="~/Content/css/loading-bar.min.css" rel="stylesheet" />
<link href="~/Content/css/social-buttons.css" rel="stylesheet" />

<div data-ng-app="SimpleStackApp">
    <div class="navbar navbar-inverse" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
                @if (Context.Request.QueryString.AllKeys.Contains("logged"))
                {
                    <span class="navbar-text">You are logged in as Slawomir Brys</span>
                }
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/myStocks">Shopping basket</a></li>-->
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/stocks">StocksProducts</a></li>-->
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li><a href="#/banks">Banks</a></li>
                    <li><a href="#/products">Products</a></li>

                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <!--<li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div data-ng-view="">
        </div>
    </div>
    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/stocksService.js?v=2"></script>
    <script src="app/services/productService.js?v=2"></script>


    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/myStocksController.js?v=2"></script>
    <script src="app/controllers/stocksController.js?v=2"></script>
    <script src="app/controllers/productsController.js?v=2"></script>
    <script src="app/controllers/bankController.js?v=2"></script>


    <!-- Load custom filters -->
    <!-- Load custom directives -->
</div>

